.idea/
vendor/
tests/coverage/
docs/changelogs/
.DS_Store
.php_cs.cache
.php-cs-fixer.cache
.phpunit.result.cache
.phpunit.cache/
composer.lock
*.sqlite
symfony.lock

###> phpbench/phpbench ###
.phpbench/
benchmark-report.html
benchmark-summary.txt
###< phpbench/phpbench ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
